  .heading
  {
    border-radius: 30px;
    font-family: cursive;
    font-size: 23px;
    width: 95%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(255, 255, 255);
    background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,153,0,1) 25%, rgba(203,201,7,1) 37%, rgba(10,255,0,1) 50%, rgba(3,218,111,1) 63%, rgba(0,164,255,1) 75%, rgba(0,5,255,1) 100%);
  }
  .heading_div
  {
      float: none;
      padding: 10px;
    background: white ; 
    border-radius: 20px; 
    color: rgb(255, 255, 255);
    box-shadow:5px 5px 5px rgb(255, 0, 0);
    background-color: blue;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px rgb(255, 255, 255);
    font-size: 20px;
  }
 .result_para_tag span
 {
   white-space: pre-line;
   width: 1000px;
 }

 .copy_right_footer
 {
   position: fixed;
   color: white;
   bottom: 0;
   width: 100%;
   background-color: rgb(255, 0, 0);
   line-height: 3;
   text-align: center;
 }
 canvas
 {
   border:5px solid white;
   border-radius: 20px;
   box-shadow: 5px 5px 5px grey;
   margin-top: 160px;
 }
 body
 {
  background: rgb(255,40,40);
  background: linear-gradient(90deg, rgba(255,40,40,1) 0%, rgba(248,81,31,1) 15%, rgba(0,14,255,1) 30%, rgba(0,250,255,1) 50%, rgba(45,44,165,1) 70%, rgba(255,0,113,1) 85%, rgba(255,0,65,1) 100%);
 }

 p
 {
background-color: black;
color: white;

height: 5%;
line-height: 2;
border-radius: 20px;
width: 1000px;
 }